#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}




/*
--steps--

1. search cmd in windows search bar
2. right click on command prompt and run as administrator
3. change directory by writing drive name in lower case 
   foe example: (for drive F:) write f:
4. now navigate to the directory where the images are
   example: if u want to go there F:/folder/hiddenFOlder/test type 
   * cd folder/hiddenFOlder/test *
5. check the user name from security tab for which access is denied
6. in command prompt wirte ( icacls * /grant "userName:(OI)(CI)(F)" /T )
   ( Replace userName with actual userName)

   ------- BOOM !! --------
      YOUR WORK IS DONE


grant:  icacls * /grant "Authenticated Users:(OI)(CI)(F)" /T
revoke: icacls * /inheritance:r /deny "Authenticated Users:(OI)(CI)(F)" /T
*/